# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Project-specific output and data
output/
# dummy_data.csv used as example

# OS-specific files
.DS_Store